@use "../../styles/css-var.member" as *;
@use "../../styles/css-var-type.member" as cvt;
@use "button.css-var" as button-cvt;
@use "member/button.member";

.zui-button-varient-contained {
  @include button.button-shape(
    $prefix: 'zui-button',
    $h-padding: cvt.get-var(button-cvt.$horizontal-padding),
    $min-width: cvt.get-var(button-cvt.$min-width),
    $height: cvt.get-var(button-cvt.$height),
    $border-radius: cvt.get-var(button-cvt.$border-radius),
    $font-size: cvt.get-var(button-cvt.$font-size),
  );

  @include button.button-vision(
    $prefix: 'zui-button',
    $background: cvt.get-var(button-cvt.$background),
    $color: cvt.get-var(button-cvt.$color),
    $background-active: cvt.get-var(button-cvt.$background-active),
    $color-active: cvt.get-var(button-cvt.$color-active),
    $background-hover: cvt.get-var(button-cvt.$background-hover),
    $color-hover: cvt.get-var(button-cvt.$color-hover),
    $background-disable: cvt.get-var(button-cvt.$background-disable),
    $color-disable: cvt.get-var(button-cvt.$color-disable),
  );
}

.zui-button-varient-contained.zui-button-color-success {
  @include button.button-vision(
    $prefix: 'zui-button',
    $background: cvt.get-var(button-cvt.$success-background),
    $color: cvt.get-var(button-cvt.$success-color),
    $background-active: cvt.get-var(button-cvt.$success-background-active),
    $color-active: cvt.get-var(button-cvt.$success-color-active),
    $background-hover: cvt.get-var(button-cvt.$success-background-hover),
    $color-hover: cvt.get-var(button-cvt.$success-color-hover),
    $background-disable: cvt.get-var(button-cvt.$success-background-disable),
    $color-disable: cvt.get-var(button-cvt.$success-color-disable),
  )
}

.zui-button-varient-contained.zui-button-color-warning {
  @include button.button-vision(
    $prefix: 'zui-button',
    $background: cvt.get-var(button-cvt.$warning-background),
    $color: cvt.get-var(button-cvt.$warning-color),
    $background-active: cvt.get-var(button-cvt.$warning-background-active),
    $color-active: cvt.get-var(button-cvt.$warning-color-active),
    $background-hover: cvt.get-var(button-cvt.$warning-background-hover),
    $color-hover: cvt.get-var(button-cvt.$warning-color-hover),
    $background-disable: cvt.get-var(button-cvt.$warning-background-disable),
    $color-disable: cvt.get-var(button-cvt.$warning-color-disable),
  )
}

.zui-button-varient-contained.zui-button-color-danger {
  @include button.button-vision(
    $prefix: 'zui-button',
    $background: cvt.get-var(button-cvt.$danger-background),
    $color: cvt.get-var(button-cvt.$danger-color),
    $background-active: cvt.get-var(button-cvt.$danger-background-active),
    $color-active: cvt.get-var(button-cvt.$danger-color-active),
    $background-hover: cvt.get-var(button-cvt.$danger-background-hover),
    $color-hover: cvt.get-var(button-cvt.$danger-color-hover),
    $background-disable: cvt.get-var(button-cvt.$danger-background-disable),
    $color-disable: cvt.get-var(button-cvt.$danger-color-disable),
  )
}

.zui-button-varient-outline {
  @include button.button-shape(
    $prefix: 'zui-button',
    $h-padding: cvt.get-var(button-cvt.$horizontal-padding),
    $min-width: cvt.get-var(button-cvt.$min-width),
    $height: cvt.get-var(button-cvt.$height),
    $border-radius: cvt.get-var(button-cvt.$border-radius),
    $border-width: cvt.get-var(button-cvt.$border-width),
    $font-size: cvt.get-var(button-cvt.$font-size),
  );

  @include button.button-vision(
    $prefix: 'zui-button',
    $color: cvt.get-var(button-cvt.$outline-color),
    $border-color: cvt.get-var(button-cvt.$outline-border-color),
    $background-active: cvt.get-var(button-cvt.$outline-background-active),
    $border-color-active: cvt.get-var(button-cvt.$outline-border-color-active),
    $color-active: cvt.get-var(button-cvt.$outline-color-active),
    $background-hover: cvt.get-var(button-cvt.$outline-background-hover),
    $border-color-hover: cvt.get-var(button-cvt.$outline-border-color-hover),
    $color-hover: cvt.get-var(button-cvt.$outline-color-hover),
    $background-disable: cvt.get-var(button-cvt.$outline-background-disable),
    $border-color-disable: cvt.get-var(button-cvt.$outline-border-color-disable),
    $color-disable: cvt.get-var(button-cvt.$outline-color-disable),
  );
}

.zui-button-varient-outline.zui-button-color-success {
  @include button.button-vision(
    $prefix: 'zui-button',
    $color: cvt.get-var(button-cvt.$outline-success-color),
    $border-color: cvt.get-var(button-cvt.$outline-success-border-color),
    $background-active: cvt.get-var(button-cvt.$outline-success-background-active),
    $border-color-active: cvt.get-var(button-cvt.$outline-success-border-color-active),
    $color-active: cvt.get-var(button-cvt.$outline-success-color-active),
    $background-hover: cvt.get-var(button-cvt.$outline-success-background-hover),
    $border-color-hover: cvt.get-var(button-cvt.$outline-success-border-color-hover),
    $color-hover: cvt.get-var(button-cvt.$outline-success-color-hover),
    $background-disable: cvt.get-var(button-cvt.$outline-success-background-disable),
    $border-color-disable: cvt.get-var(button-cvt.$outline-success-border-color-disable),
    $color-disable: cvt.get-var(button-cvt.$outline-success-color-disable),
  )
}

.zui-button-varient-outline.zui-button-color-warning {
  @include button.button-vision(
    $prefix: 'zui-button',
    $color: cvt.get-var(button-cvt.$outline-warning-color),
    $border-color: cvt.get-var(button-cvt.$outline-warning-border-color),
    $background-active: cvt.get-var(button-cvt.$outline-warning-background-active),
    $border-color-active: cvt.get-var(button-cvt.$outline-warning-border-color-active),
    $color-active: cvt.get-var(button-cvt.$outline-warning-color-active),
    $background-hover: cvt.get-var(button-cvt.$outline-warning-background-hover),
    $border-color-hover: cvt.get-var(button-cvt.$outline-warning-border-color-hover),
    $color-hover: cvt.get-var(button-cvt.$outline-warning-color-hover),
    $background-disable: cvt.get-var(button-cvt.$outline-warning-background-disable),
    $border-color-disable: cvt.get-var(button-cvt.$outline-warning-border-color-disable),
    $color-disable: cvt.get-var(button-cvt.$outline-warning-color-disable),
  )
}

.zui-button-varient-outline.zui-button-color-danger {
  @include button.button-vision(
    $prefix: 'zui-button',
    $color: cvt.get-var(button-cvt.$outline-danger-color),
    $border-color: cvt.get-var(button-cvt.$outline-danger-border-color),
    $background-active: cvt.get-var(button-cvt.$outline-danger-background-active),
    $border-color-active: cvt.get-var(button-cvt.$outline-danger-border-color-active),
    $color-active: cvt.get-var(button-cvt.$outline-danger-color-active),
    $background-hover: cvt.get-var(button-cvt.$outline-danger-background-hover),
    $border-color-hover: cvt.get-var(button-cvt.$outline-danger-border-color-hover),
    $color-hover: cvt.get-var(button-cvt.$outline-danger-color-hover),
    $background-disable: cvt.get-var(button-cvt.$outline-danger-background-disable),
    $border-color-disable: cvt.get-var(button-cvt.$outline-danger-border-color-disable),
    $color-disable: cvt.get-var(button-cvt.$outline-danger-color-disable),
  )
}

.zui-button-varient-text {
  @include button.button-shape(
    $prefix: 'zui-button',
    $h-padding: cvt.get-var(button-cvt.$horizontal-padding),
    $min-width: cvt.get-var(button-cvt.$text-min-width),
    $height: cvt.get-var(button-cvt.$height),
    $border-radius: cvt.get-var(button-cvt.$border-radius),
    $border-width: cvt.get-var(button-cvt.$border-width),
    $font-size: cvt.get-var(button-cvt.$font-size),
  );

  @include button.button-vision(
    $prefix: 'zui-button',
    $color: cvt.get-var(button-cvt.$text-color),
    $background-active: cvt.get-var(button-cvt.$text-background-active),
    $color-active: cvt.get-var(button-cvt.$text-color-active),
    $background-hover: cvt.get-var(button-cvt.$text-background-hover),
    $color-hover: cvt.get-var(button-cvt.$text-color-hover),
    $color-disable: cvt.get-var(button-cvt.$text-color-disable),
  );
}

.zui-button-varient-text.zui-button-color-success {
  @include button.button-vision(
    $prefix: 'zui-button',
    $color: cvt.get-var(button-cvt.$text-success-color),
    $background-active: cvt.get-var(button-cvt.$text-success-background-active),
    $color-active: cvt.get-var(button-cvt.$text-success-color-active),
    $background-hover: cvt.get-var(button-cvt.$text-success-background-hover),
    $color-hover: cvt.get-var(button-cvt.$text-success-color-hover),
    $color-disable: cvt.get-var(button-cvt.$text-success-color-disable),
  );
}

.zui-button-varient-text.zui-button-color-warning {
  @include button.button-vision(
    $prefix: 'zui-button',
    $color: cvt.get-var(button-cvt.$text-warning-color),
    $background-active: cvt.get-var(button-cvt.$text-warning-background-active),
    $color-active: cvt.get-var(button-cvt.$text-warning-color-active),
    $background-hover: cvt.get-var(button-cvt.$text-warning-background-hover),
    $color-hover: cvt.get-var(button-cvt.$text-warning-color-hover),
    $color-disable: cvt.get-var(button-cvt.$text-warning-color-disable),
  );
}

.zui-button-varient-text.zui-button-color-danger {
  @include button.button-vision(
    $prefix: 'zui-button',
    $color: cvt.get-var(button-cvt.$text-danger-color),
    $background-active: cvt.get-var(button-cvt.$text-danger-background-active),
    $color-active: cvt.get-var(button-cvt.$text-danger-color-active),
    $background-hover: cvt.get-var(button-cvt.$text-danger-background-hover),
    $color-hover: cvt.get-var(button-cvt.$text-danger-color-hover),
    $color-disable: cvt.get-var(button-cvt.$text-danger-color-disable),
  );
}

.zui-button-varient-contained,
.zui-button-varient-outline,
.zui-button-varient-text {
  @include button.button-effect(
    $sibling-gutter: cvt.get-var(button-cvt.$sibling-gutter),
  );
}