@use "sass:color";
@use "sass:meta";
@use "sass:map";
@use "button-mixin";

@mixin base-button(
  $args...
) {
  $customerArgMap: meta.keywords($args);

  $argMap: map.merge((
    prefix: '',
    h-padding: 16px,
    min-width: 100px,
    height: 34px,
    border-radius: 8px,
    font-size: 14px,
    // normal
    background: #fc6622,
    color: white,
    // active
    background-active: #fc6622,
    color-active: white,
    // hover
    background-hover: #fc6622,
    color-hover: white,
    // disable
    background-disable: #fc6622,
    color-disable: white,
  ), $customerArgMap);


  $prefix: map.get($argMap, prefix);
  $h-padding: map.get($argMap, h-padding);
  $min-width: map.get($argMap, min-width);
  $height: map.get($argMap, height);
  $border-radius: map.get($argMap, border-radius);
  $font-size: map.get($argMap, font-size);

  // normal
  $background: map.get($argMap, background);
  $color: map.get($argMap, color);

  // active
  $background-active: map.get($argMap, background-active);
  $color-active: map.get($argMap, color-active);

  // hover
  $background-hover: map.get($argMap, background-hover);
  $color-hover: map.get($argMap, color-hover);

  // disable
  $background-disable: map.get($argMap, background-disable);
  $color-disable: map.get($argMap, color-disable);

  @include button-mixin.button(
    $prefix: $prefix,
    $h-padding: $h-padding,
    $min-width: $min-width,
    $height: $height,
    $border-radius: $border-radius,
    $font-size: $font-size,

    $border-width: 0,
    $border-color: transparent,
    $background: $background,
    $color: $color,

    $border-width-active: 0,
    $border-color-active: transparent,
    $background-active: $background-active,
    $color-active: $color-active,

    $border-width-hover: 0,
    $border-color-hover: transparent,
    $background-hover: $background-hover,
    $color-hover: $color-hover,

    $border-width-disable: 0,
    $border-color-disable: transparent,
    $background-disable: $background-disable,
    $color-disable: $color-disable,
  )
}
